/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

/*Common*/
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin: 0 10%;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.due-colonne{
    width: 50%;
    float: left;
}
.bg-grigio{
    background-color: #f4f9fd;
}
.bordo-arancione{
    color: white;
    background-color: #fe775a;
    border-radius: 10px;
    padding: 10px;
}
p{
    color: #33475b;
    font-weight: bold;
}
h2{
    color: #33475b;
}
/*Header*/
.blocco-grafico-verde{
    background-color: #afebe4;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 100px;
}

/*Nav Superiore*/
header li{
    display: inline-block;
    margin-left: 10px;
}
header nav{
    padding: 50px;
}
header a{
    text-decoration: none;
    color: #32495b;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.after::after{ /*Sono dubbioso su questo*/
    content: "";
    border-right: 1px solid #32495b;
    margin-left: 10px;
}
#login{
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 10px;
    padding: 10px;
}
/*Nav Inferiore*/
.logo{
    padding-right: 600px;
}
/*Jumbotron*/
.jumbotron{
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
    
}
.jumbotron-text{
    width: 50%;
    padding-top: 100px;
}
.jumbotron-text h1{
    font-size: 58px;
    font-weight: bolder;
    color: #33475b;
    margin-bottom: 40px;
}
.jumbotron-text .bordo-arancione{
    padding: 30px;
    display: inline-block;
    margin: 30px 0;
}
/*MAIN*/
/*Presentazione*/
.presentazione{
    text-align: center;
}
.presentazione img{
    width: 25%;
    margin-top: 30px;
}
.presentazione h2{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
    

}
.presentazione p{
    padding: 15px 300px;
}