/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100px;
    object-fit: contain;
}

/*Common*/
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin: 0 10%;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.due-colonne{
    width: 50%;
    float: left;
}
.tre-colonne{
    width: 30%;
    float: left;
    margin-left: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.quattro-colonne{
    width: 20%;
    float: left;
}
.float-destra{
    float: right;
    width: 50%;
}
.servizio{
    background-color: white;
    text-align: center;
    padding: 40px 0;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 30px;
}
.bg-grigio{
    background-color: #f4f9fd;
}
.bg-verde{
    background-color: #00b1b0;
}
.bordo-arancione{
    color: white;
    background-color: #fe775a;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}
li{
    display: inline-block;
    margin-left: 10px;
    color: #33475b;
    font-weight: bold;
}
p{
    color: #33475b;
    font-weight: bold;
    margin: 10px
}
h2{
    color: #33475b;
}
h3{
    color: #33475b;
    margin-top: 20px;
    margin-bottom: 30px; 
}
.check{
    color: white;
    height: 10px;
    width: 10px;
    background-color: #fe775a;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    margin-right: 10px;
}
.tre-colonne .after::after{
    display: block;
    content: "";
    width: 90%;
    border-top: 3px solid lightgray;
    margin-top: 10px;
}
.big-size{
    font-size: 50px;
}
.bord-destro{
    border-right: 1px solid lightgray;
}
/*Header*/
.blocco-grafico-verde{
    background-color: #afebe4;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 100px;
}

/*Nav Superiore*/
header nav{
    padding: 50px;
}
header a{
    text-decoration: none;
    color: #32495b;
    font-weight: bold;
}
header .bordo-arancione{
    padding: 10px;
}
.after::after{ /*Sono dubbioso su questo*/
    content: "";
    border-right: 1px solid #32495b;
    margin-left: 10px;
}
#login{
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 10px;
    padding: 10px;
}
.nav-superiore ul:nth-child(2){
    padding-left: 250px;
}
/*Nav Inferiore*/
.logo{
    padding-right: 600px;
    height: 50%;
}
/*Jumbotron*/
.jumbotron{
    background-image: url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
    
}
.jumbotron-text{
    width: 50%;
    padding-top: 100px;
}
.jumbotron-text h1{
    font-size: 58px;
    font-weight: bolder;
    color: #33475b;
    margin-bottom: 40px;
}
.jumbotron-text .bordo-arancione{
    margin: 30px 0;
}
/*MAIN*/
main .bordo-arancione{
    margin-top: 30px;
}
/*Presentazione*/
.presentazione{
    text-align: center;
}
.presentazione img{
    margin-top: 30px;
    height: 200px;
}
.presentazione h2{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
    

}
.presentazione p{
    padding: 15px 300px;
    margin-bottom: 40px;
}
/*CRM*/
.col-crm-stretta{
    width: 30%;
    float: left;
}    
.col-crm-larga{
    width: 70%;
    float: left;
    text-align: left;
}
.col-crm-larga .after::after{
    content: "";
    display: inline-block;
    width: 50%;
    border-top: 3px solid lightgray;
    vertical-align: middle;
}
/*Marketing Vendite Servizio Clienti*/
.tre-colonne li{
    display: block;
    text-align: left;
}
/*Community*/
.bg-verde{
    text-align: center;
}
.bg-verde h2{
    color: white;
    padding: 80px;
}
.bg-verde p{
    color: white;
}
.community{
    padding-left: 200px;
    margin-top: 40px;
}
.community-img{
    width: 40%;
    height: 25px;
    object-fit: contain;
    margin-top: 10px;
}
.prima-riga::after{
    content: "";
    width: 81%;
    border-bottom: 1px solid lightgray;
}
/*Community Inferiore*/
.col-sponsor-stretta{
    width: 40%;
    float: left;
    padding: 120px;
}
.col-sponsor-larga{
    width: 60%;
    float: left;
    padding: 120px;
    
}
#numero-grande{
    font-size: 60px;
    margin-bottom: 20px;
}
.sponsor img{
    width: 20%;
    height: 50%;
    vertical-align: middle;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top:
}
#woman{
    height: 250px;
} 